.wrapper {
}

.title {
  font-size: 24;
  padding: 20px 0;
}

.search {
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;

  &__text {
    margin-right: 20px;
  }
}

.table__action {
  display: flex;
  justify-content: center;
}

.table__icon {
  cursor: pointer;
  + .table__icon {
    margin-left: 10px;
  }
}
