.wrapper {
  border: none;
  cursor: pointer;

  &:disabled {
    background-color: var(--disabled);
  }
}

.rounded {
  border-radius: 999px;
}

.backgroundColorNone {
  background-color: var(--white);
}

.textDecoration {
  text-decoration: underline;
}

.icon {
  margin-right: 5px;
}

.btnAdd {
  padding: 8px;
  width: 96px;
  height: 44px;
  background-color: var(--btn-add);
  border-radius: 8px;
  color: var(--white);
}

.btnDelete {
  padding: 8px;
  width: 96px;
  height: 44px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.btnDeleteStatus {
  padding: 8px;
  width: 96px;
  height: 44px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid var(--btn-deleteStatus);
  color: var(--btn-deleteStatus);
}
