.wrapper {
  border: none;
  cursor: pointer;

  &:disabled {
    background-color: var(--disabled);
  }
}

.rounded {
  border-radius: 999px;
}

.backgroundColorNone {
  background-color: var(--white);
}

.textDecoration {
  text-decoration: underline;
}
