.wrapper {
  border: none;
  cursor: pointer;
}

.rounded {
  border-radius: 999px;
}

.md {
  padding: 10px 40px;
}

.sm {
  padding: 5px 30px;
}

.backgroundColorNone {
  background-color: var(--white);
}

.textDecoration {
  text-decoration: underline;
}
