.wrapper {
  display: flex;
  align-items: center;
  background-color: var(--blue);
  color: var(--white);
  height: 72px;
}

.brand {
  width: 186px;
  height: 54px;
  display: flex;
  align-items: center;
  margin: 0 32px;
  border-right: 1px solid var(--border-color);

  &__text {
    font-weight: 500;
    font-size: 18px;
    margin-right: 8px;
  }
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-weight: 500;
    font-size: 18px;
  }

  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 18px;

    .user__info {
      display: flex;
      align-items: center;
      border-right: 1px solid var(--border-color);
      height: 54px;
      width: 90px;

      .info__img {
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
      }
    }

    .user__signOut {
      margin: 0 32px;

      &--button {
        background-color: var(--blue);
        color: inherit;
      }
    }
  }
}

.modal__title {
  font-size: 20px;
}

.modal__content {
  font-size: 16px;
}

.modal__okButton,
.modal__cancelButton {
  border: 1px solid #666;
}
