.wrapper {
  padding: 10px 20px;
  display: flex;
  border: 1px solid grey;
  align-items: center;
}

.brand {
  width: 50px;
  height: 40px;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 60px 0 40px;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user__info {
      display: flex;
      align-items: center;
      border-right: 1px solid gray;
      padding: 0 20px;

      .info__img {
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
      }
    }

    .user__signOut {
      margin-left: 20px;
    }
  }
}
