.wrapper {
  border-right: 1px solid gray;
  width: 280px;
  height: 100vh;
  padding: 24px 0;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;

  &__icon {
  }

  &__text {
    margin-left: 20px;
  }

  &:hover {
    background-color: #e0eaff;
    color: #074ee8;
  }

  &:focus {
    background-color: #e0eaff;
    color: #074ee8;
  }
}
