.wrapper {
  border-right: 1px solid gray;
  width: 280px;
  height: 92.5vh;
  padding: 24px 0;
}

.item {
  display: flex;
  align-items: center;
  padding: 15px 0 15px 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;

  &__icon {
  }

  &__text {
    margin-left: 10px;
  }

  &:hover {
    background-color: #e0eaff;
    color: #074ee8;
  }

  &:focus {
    background-color: #e0eaff;
    color: #074ee8;
  }
}
